<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <ul id="example-1">
    <!--v-for= 'item in items'-->
    <li v-for="item of items">
      {{item.message}}
    </li>
  </ul>

  <ul id="example-2">
    <li v-for="(item,index) in items">
      {{parentMessage}} - {{index}} - {{item.message}}
    </li>
  </ul>
  <script src="../vue.js"></script>
  <script>
    var example1 = new Vue({
      el: '#example-1',
      data: {
        items: [{
          message: 'Foo'
        }, {
          message: 'Bar'
        }]
      }
    })

    var example2 = new Vue({
      el: '#example-2',
      data: {
        parentMessage: 'Parent',
        items: [{
          message: 'Foo'
        }, {
          message: 'Bar'
        }, ]
      }
    })
  </script>
</body>

</html>