<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <ul id="example-1">
    <!--v-for= 'item in items'-->
    <li v-for="item of items">
      {{item.message}}
    </li>
  </ul>

  <ul id="example-2">
    <li v-for="(item,index) in items">
      {{parentMessage}} - {{index}} - {{item.message}}
    </li>
  </ul>
  <ul id="example-3">
    <template v-for="item in items">
      <li>{{item.message}}</li>
      <li class="divider"></li>
    </template>
  </ul>

  <ul id="repeat-object" class="demo">
    <li v-for="value in object">{{value}}</li>
  </ul>

  <div id="example-4">
    <span v-for="n in 10">{{n}}</span>
  </div>

  <script src="../vue.js"></script>
  <script>
    var example1 = new Vue({
      el: '#example-1',
      data: {
        items: [{
          message: 'Foo'
        }, {
          message: 'Bar'
        }]
      }
    })

    var example2 = new Vue({
      el: '#example-2',
      data: {
        parentMessage: 'Parent',
        items: [{
          message: 'Foo'
        }, {
          message: 'Bar'
        }, ]
      }
    })

    var example3 = new Vue({
      el: '#example-3',
      data: {
        items: [{
          message: 'Foo'
        }, {
          message: 'Bar'
        }]
      }
    })

    var demo = new Vue({
      el: '#repeat-object',
      data: {
        object: {
          FirstName: 'John',
          LastName: 'Doe',
          Age: 30
        }
      }
    })

    var example4 = new Vue({
      el: '#example-4'
    })
  </script>
</body>

</html>